@import ../../styles/helpers


.wrapper
    padding: 0 50px
    width: 100%
    position: fixed
    bottom: 30px
    z-index: 15
    direction: rtl
    +x
        padding: 0 35px
    +d
        padding: 0 20px
    +t
        bottom: 15px
.navBarWrapper
    display: flex
    align-items: center
    background: $primary
    border-radius: 20px
    height: 100px
    transition: all 0.3s ease-in
    +w
        height: 85px
    +x
        height: 70px
    +t
        height: 47px
        border-radius: 10px

.openNavBarWrapper
    width: 100%
    +t
        flex-direction: column
        height: 95vh
        overflow: scroll


.closeNavBarWrapper
    width: 122px

.openNavBar
    @include center-all
    width: 122px
    gap: 5px
    height: 100%
    button
        color: $n10
        +x
            font-size: 14px !important

.closeNavbar
    @include center-all
    width: 130px
    min-width: 130px
    gap: 5px
    +t
        justify-content: flex-start
    button
        color: $n10
        +x
            font-size: 14px !important
.arrow
    transform: rotate(180deg)
    +t
        display: none
.arrow2
    +t
        display: none

.openNavItemWrapper
    display: none
    transition: all 0.3s ease-in

.closeNavItemWrapper
    display: flex
    justify-content: center
    width: 100%
    transition: all 0.3s ease-in
    gap: 25px
    align-items: stretch
    +t
        flex-direction: column
    +t
        margin-top: 25px
    >button
        animation: opacity 0.6s linear both
        min-width: 80px
        +x
            min-width: 40px
        
.navItem
    display: flex
    flex-direction: column
    align-items: center
    border-left: 2px solid $n10
    padding-left: 35px
    +w
        padding-left: 15px
    +t
        flex-direction: row
        padding-right: 30px
        border: none

    &:last-child
        border: none
        +t
            padding-bottom: 10px
    img
        width: 50px
        height: 50px
        +w
            width: 30px
            height: 30px
        +x
            width: 25px
            height: 25px
        +t
            margin-left: 10px
    p
        color: $n10
        text-align: center
        +w
            font-size: 14px !important
        +x
            font-size: 12px !important

.backBtn
    display: none
    +t
        display: block

.titleWrapper
    +t
        width: 100%
        margin-top: 15px
        padding: 0 30px
        padding-bottom: 10px
        display: flex
        justify-content: space-between
        align-items: center
    +t
        border-bottom: 3px solid $n10
        

@keyframes opacity
    0%
        opacity: 0
    50%
        opacity: 0
    100%
        opacity: 1
        