@import ../../../styles/helpers


.wrapper
    margin: 82px 0 32px

.titleWrapper
    text-align: right
    >h1
        display: inline

.xxx
    color: $primary

.heroWrapper
    margin-top: 42px
    display: grid
    grid-template-columns: minmax(320px,440px) auto

.hero
    img
        width: 100%

.bannerWrapper
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 20px
    margin-top: 82px
    img
        width: 100%